.btn-group{
    display: flex;
    width: 40vw;    
    align-items: center;
    .todo-text{
        flex: 10;
        color: #535052;
 
    }
    .completed{
        text-decoration: line-through;
        color: grey;
    }
    .todo-btn{
        flex: 1;
        width: 20px;
        height: 50px;
    }
}
@media(max-width: 720px) {
    .btn-group{
        width: 90vw;
        display: flex;
        align-items: center;
    }
  }
