.card-actions{
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 10% 0;
    .register-field{
        width: 80%;
        align-self: center;
    }
    .register-btn{
        width: 30%;
        margin-top: 5vh;
        align-self: center;
        background-color: #FF6663;
    }
    .register-btn:hover{
        background-color: #FF4A47;
    }
}
.main-container{
    .register-container{
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    padding: 10vh;
    width: 30%;
    height: 50%;
    }
}
@media(max-width: 900px) {
    .main-container{
        .register-container{
            width: 60%;
        }
    }
  }
@media(max-width: 450px) {
    .main-container{
        
        .register-container{
            justify-content: center;
            .card{
                width: 100%;
            }
            .register-btn{
                width: 80%;
            }
        }
    }
  }