.homepage-container{
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    
    .homepage-info{
        position: absolute;
        top: 20%;
        font-size: 1.5rem;
        margin: 20vh;
        padding: 0;

        .home-text-brand{
            margin: 0;
            padding: 0;
            color: #535052;
            font-size: 2em;
            line-height: 20px;
        }
        .home-text-info{
            color: #535052;
            font-size: 2em;
            line-height: 20px;
        }
        .cta-btn{
            background: #FF6663;
            color: honeydew;
            padding: 5px 10px;
        }
    }
    .card-container{
        margin: 50px auto;
    }
    .homepage-sub{
        align-content: center;
        padding: 0 50px;
        h1{
            text-align: center;
            color: #535052;
        }
        .todo-container{
            width: 50%;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-items: center;
        }
        .addtask-group{
            width: 100%;
            display: flex;
            .add-textfield{
                flex: 6;
            }
            .add-btn{
                flex: 1;
            }
        }
    }
}


@media(max-width: 800px) {
    .homepage-container{
        .homepage-info{
            .home-text-brand, .home-text-info{
                line-height: 50px;
            }
        }
        .homepage-sub{
            padding: 0 10px;
        }
        .todo-container{
            width: 90%;
        }
    }
  }