.card-actions{
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 10% 0;
    .login-field{
        width: 80%;
        align-self: center;
    }
    .login-btn{
        width: 30%;
        align-self: center;
        background: #FF6663;
    }
    .login-btn:hover{
        background: #FF4A47;
    }
}
.card-register{
    display: flex;
    justify-content: center;

}
.main-container{
    .login-container{
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    padding: 10vh;
    width: 30%;
    height: 50%;
    }
}
@media(max-width: 900px) {
    .main-container{
        .login-container{
            width: 60%;
        }
    }
  }

  @media(max-width: 450px) {
    .main-container{
        
        .login-container{
            justify-content: center;
            .card{
                width: 100%;
            }
            .login-btn{
                width: 80%;
            }
        }
    }
  }